@media (max-width: 849px) {
  .page-map {
    width: 100%;
    height: 100%;

    background: #111;

    display: flex;
    flex-direction: column;
  }

  .page-map header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #808080;
    padding: 35px;
  }

  .page-map header .profile-desktop {
    display: none;
  }
  .page-map header .profile-mobile {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .page-map header .profile-mobile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #79d96a;
    margin-bottom: 10px;
    margin-right: 20px;
  }

  .page-map header .profile-mobile button {
    display: block;
  }

  .page-map header p {
    color: #bbbbbb;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .page-map header h4 {
    margin-bottom: 10px;
  }

  .page-map header span a {
    text-decoration: none;
    color: rgb(7, 108, 223);
  }

  .page-map header button {
    width: 54px;
    height: 54px;
    background: #79d96a;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.2s;
    display: none;
  }
  .page-map header button:hover {
    background: #3f9c31;
  }

  .page-map main {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
  }

  .page-map main .unfavorite {
    display: flex;
    height: 60vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  .page-map main .unfavorite h2 {
    margin-bottom: 30px;
    text-align: center;
  }

  .page-map main .unfavorite div {
    display: flex;
  }

  .page-map main .unfavorite div span {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  .page-map main .unfavorite div span p {
    margin-right: 5px;
  }

  .page-map main .map h2 {
    margin-bottom: 30px;
    text-align: center;
  }

  .page-map main .leaflet-container {
    height: 450px;
    width: 80%;
    margin: 10px auto 60px auto;
    border-radius: 1%;
  }
}

@media (min-width: 850px) {
  .page-map {
    width: 100%;
    height: 100%;

    background: #111;

    display: flex;
    flex-direction: column;
  }

  .page-map header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #808080;
    padding: 35px;
  }

  .page-map header .profile-mobile {
    display: none;
  }

  .page-map header .profile-desktop {
    display: flex;
    align-items: center;
  }

  .page-map header .profile-desktop img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid #79d96a;
    margin-bottom: 10px;
    margin-right: 20px;
  }

  .page-map header p {
    color: #bbbbbb;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .page-map header h4 {
    margin-bottom: 10px;
  }

  .page-map header span a {
    text-decoration: none;
    color: rgb(7, 108, 223);
  }

  .page-map header button {
    width: 54px;
    height: 54px;
    background: #79d96a;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.2s;
  }
  .page-map header button:hover {
    background: #3f9c31;
  }

  .page-map main {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    padding: 35px;
  }

  .page-map main .unfavorite {
    display: flex;
    flex-direction: column;
    padding-left: 75px;
  }

  .page-map main .unfavorite h2 {
    margin-bottom: 30px;
  }

  .page-map main .unfavorite div {
    display: flex;
  }

  .page-map main .unfavorite div span {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  .page-map main .unfavorite div span p {
    margin-right: 5px;
  }

  .page-map main .map h2 {
    margin-bottom: 30px;
  }

  .page-map main .leaflet-container {
    height: 450px;
    width: 100%;
    border-radius: 1%;
  }
}
