.spinner {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.dont-search-button {
  background: #79d96a;
}

.config-dont-search {
  position: relative;
}

.config-dont-search button {
  position: absolute;
  top: 30px;
  right: 30px;

  width: 10%;
  height: 40px;
  border-radius: 5%;
  border: none;
  outline: 0;
}

@media (max-width: 849px) {
  .map-desktop {
    display: none;
  }

  .map-mobile {
    display: block;
  }

  .repos-desktop {
    display: none;
  }

  .repos-mobile {
    display: block;
  }

  .page-map {
    width: 100%;
    height: 100%;

    background: #111;

    display: flex;
    flex-direction: column;
  }

  .page-map header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #808080;
    padding: 35px 0;
  }

  .page-map header .profile-desktop {
    display: none;
  }
  .page-map header .profile-mobile {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    position: relative;
    width: 90%;
  }
  .page-map header .profile-mobile .config-button {
    position: absolute;
    top: 0;
    right: 0;
  }

  .page-map header .profile-mobile img {
    width: 40%;
    height: 40%;
    border-radius: 50%;
    border: 3px solid #79d96a;
    margin-bottom: 30px;
    justify-content: center;
  }

  .page-map header .profile-mobile button {
    display: block;
  }

  .page-map header p {
    color: #bbbbbb;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .page-map header h4 {
    margin-bottom: 10px;
  }

  .page-map header span a {
    text-decoration: none;
    color: rgb(7, 108, 223);
  }

  .page-map header button {
    width: 54px;
    height: 54px;
    background: #79d96a;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.2s;
    display: none;
  }
  .page-map header button:hover {
    background: #3f9c31;
  }

  .page-map main {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
  }

  .page-map main .unfavorite {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }

  .page-map main .unfavorite h2 {
    margin-bottom: 30px;
    text-align: center;
  }
  .map-mobile h2 {
    margin-bottom: 30px;
    text-align: center;
  }

  .map-mobile .leaflet-container {
    height: 450px;
    width: 100%;
    border-radius: 1%;
  }

  .page-map main .unfavorite div {
    display: flex;
  }

  .page-map main .unfavorite div span {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  .page-map main .unfavorite div span p {
    margin-right: 5px;
  }

  .page-map main .map-mobile h2 {
    margin-bottom: 40px;
    text-align: center;
  }

  .page-map main .map-mobile .leaflet-container {
    height: 450px;
    width: 100%;

    border-radius: 1%;
  }

  .repos-mobile {
    display: flex;
    flex-direction: column;
    width: 94%;
    margin: 25px auto;
  }

  .repos-mobile h2 {
    margin: 50px 0 30px 0;
  }
  .repos-mobile span {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 0;
  }
  .repos-mobile span p {
    font-size: 14px;
    margin-right: 10px;
    width: 70%;
  }
  .repos-mobile span button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    outline: 0;
    border-radius: 10px;
    width: 35%;
    height: 30px;
    background: #79d96a;
    color: #fff;
    font-size: 14px;
  }
}

@media (min-width: 850px) {
  .map-desktop {
    display: block;
  }

  .repos-desktop {
    display: block;
  }

  .map-mobile {
    display: none;
  }

  .repos-mobile {
    display: none;
  }

  .page-map {
    width: 100%;
    height: 100%;

    background: #111;

    display: flex;
    flex-direction: column;
  }

  .page-map header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #808080;
    padding: 35px;
  }

  .page-map header .profile-mobile {
    display: none;
  }

  .page-map header .profile-desktop {
    display: flex;
    align-items: center;
  }

  .page-map header .profile-desktop img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid #79d96a;
    margin-bottom: 10px;
    margin-right: 20px;
  }

  .page-map header p {
    color: #bbbbbb;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .page-map header h4 {
    margin-bottom: 10px;
  }

  .page-map header span a {
    text-decoration: none;
    color: rgb(7, 108, 223);
  }

  .page-map header button {
    width: 54px;
    height: 54px;
    background: #79d96a;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    transition: background-color 0.2s;
  }
  .page-map header button:hover {
    background: #3f9c31;
  }

  .page-map main {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 35px;
  }

  .page-map main .unfavorite {
    display: flex;
    flex-direction: column;
    padding-left: 75px;
  }

  .page-map main .unfavorite h2 {
    margin-bottom: 30px;
  }

  .page-map main .unfavorite div {
    display: flex;
    padding-bottom: 5px;
  }

  .page-map main .unfavorite div span {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  .page-map main .unfavorite div span p {
    margin-right: 5px;
  }

  .page-map .map-desktop h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  .page-map .map-desktop .leaflet-container {
    height: 450px;
    width: 100%;
    margin-top: 50px;
  }

  .repos-desktop h2 {
    margin-bottom: 30px;
  }
  .repos-desktop span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
  }
  .repos-desktop span p {
    font-size: 18px;
    margin-right: 10px;
    width: 65%;
  }
  .repos-desktop span button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    outline: 0;
    border-radius: 10px;
    width: 30%;
    height: 30px;
    background: #79d96a;
    color: #fff;
  }
}
