#page-map {
  width: 100vw;
  height: 100vh;

  position: relative;
  display: flex;
}

#page-map aside {
  width: 750px;
  background: linear-gradient(329.54deg, #79d96a 10%, #79d96a 100%);
  padding: 50px 80px;
  display: flex;
  flex-direction: column;
}

#page-map aside .config-header {
  display: flex;
  align-items: flex-end;
}

#page-map aside header div img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-right: -15px;
}

#page-map aside .config-header-infos {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

#page-map aside main {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#page-map aside main h4 {
  margin-bottom: 20px;
}
#page-map .config-dislike {
  display: flex;
  margin: 10px 0;
}
#page-map .config-dislike p {
  font-size: 14px;
}
#page-map .config-dislike button {
  background: none;
  outline: 0;
  border-radius: 20px;

  display: flex;
  align-items: center;
  padding: 0 10px;

  margin-left: 5px;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

#page-map .config-dislike button span {
  margin-left: 5px;
  font-size: 14px;
}

#page-map .config-dislike button:hover {
  background: #fff;
  border: 1px solid #fff;
  color: #79d96a;
}

#page-map .leaflet-container {
  z-index: 5;
}

#page-map .create-orphanage {
  position: absolute;
  right: 40px;
  bottom: 40px;
  z-index: 10;
  width: 64px;
  height: 64px;
  background: #79d96a;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.2s;
}
#page-map .create-orphanage:hover {
  background: #3f9c31;
}
